version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: galaxyscape-backend
    ports:
      - "5001:5001"
    environment:
      FLASK_ENV: development
    volumes:
      - ../uploads:/app/uploads
      - ../config:/app/config:ro
    command: ["python", "run.py"]

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: galaxyscape-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka-1:
    image: confluentinc/cp-kafka:7.5.0
    container_name: galaxyscape-kafka-1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

volumes:
  kafka_data:
  zookeeper_data:




